/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
}

.add-book {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #cbd5e1;
    min-width: 200px;
    width: 30%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;

	width: 80%;
	padding: 10px;

	background-color: #94a3b8;
	border-radius: 5px;
	box-shadow: 4px 7px 5px 0px #94a3b8;
}

form h1 {
	font-size: 30px;
	font-weight: bold;
}

form label {
	font-weight: bold
}

form button {
	border-radius: 5px;
	border: none;
	height: 30px;
	width: 100px;
	font-family: inherit;
	font-weight: bold;
	font-size: 17px;
	background-color: #f1f5f9;
}

form button:hover {
	background-color: #64748b;
}

input:focus:invalid {
	outline: none;
    border-color:#9f1239;
    box-shadow: 0 0 2px #9f1239;
}

input:focus:valid {
	outline: none;
    border-color:#059669;
    box-shadow: 0 0 2px #059669;
}

.form-pair {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form-pair input {
	border-radius: 4px;
	border: none;
	height: 20px;
}

.form-pair.read {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.library {
	padding: 15px;

    background-color: #334155;
    width: 100%;
	overflow: auto;

	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-items: center;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 5px;

	height: 150px;
	width: 300px;

	overflow: auto;

	color: white;
	background-color: #0f172a;

	border-left: 10px solid #9f1239;
	border-radius: 10px;
	box-shadow: 4px 7px 5px 0px #0f172a;
}

.card.read, .card:hover {
	border-left: 10px solid #059669;
}

.card.read:hover {
	border-left: 10px solid #9f1239;
}


.card h1 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.card p {
	text-align: center;
}
